<tabset ng-controller="RegistruController">
    <h1></h1>
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="active">Registru bilete</li>
    </ol>
    <tab heading="Registru bilete primite" ng-click="nextStep('close')">
        <h1></h1>
        <h1></h1>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                <label class="col-xs-6 col-sm-6 col-md-6 col-lg-6" for="prestator">Denumire prestator</label>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <select class="form-control"  id="prestator" ng-model="obj.prestator"  ng-change="selectorHandler()"
                            ng-options="item as item.nameRo for item in prestatori">
                    </select>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3" for="raion">Raionul</label>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <select class="form-control" id="raion" ng-model="obj.raion"  ng-change="selectorHandler()"
                            ng-options="item as item.nameRo for item in raions ">
                    </select>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                <div ng-controller="Datepicker" class="col-xs-10 col-sm-10 col-md-10 col-lg-10" >
                    <p class="input-group" ng-disabled="!(obj.raion && obj.prestator)">
                        <input type="text" class="form-control" id="year" ng-model="obj.year"  ng-change="selectorHandler()"
                               datepicker-popup="{{YearFormat}}"    is-open="opened"
                               show-button-bar="false"
                               datepicker-options="{minMode: 'year'}" datepicker-mode="'year'"
                               timestamp disabled/>
                              <span class="input-group-btn">
                                <button type="button" ng-disabled="!(obj.raion && obj.prestator)" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                    </p>
                </div>
            </div>
        </div>

        <h1></h1>
        <h1></h1>

        <div class="row"><h1></h1>
            <p ng-style={color:'red'}>Afisarea foilor de tratament per prestator :</p>
        </div>
        <div class="row">
            <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center">Nr.</th>
                    <th class="text-center">Nr. bilete de la </th>
                    <th class="text-center">Nr. bilete pina la</th>
                    <th class="text-center">Seria</th>
                    <th class="text-center">durata (zile)</th>
                    <th class="text-center">Perioada</th>
                    <th class="text-center">Nr. bilete disponibile</th>
                    <th class="text-center">Prestator</th>
                    <th class="text-center">Cost (lei)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ticket in obj.allTickets | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
                    <td class="text-center">{{((currentPage)*itemsPerPage)+$index+1}}</td>
                    <td class="text-center">{{ticket.nrFrom}}</td>
                    <td class="text-center">{{ticket.nrTo}}</td>
                    <td class="text-center">{{ticket.seria}}</td>
                    <td class="text-center">{{(ticket.dateEnd - ticket.dateStart) | date:'dd'}}</td>
                    <td class="text-center">{{ticket.dateStart | date:'dd-MM-yyyy'}} - {{ticket.dateEnd | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{ticket.nrTo - ticket.nrFrom+1}}</td>
                    <td class="text-center">{{prestatorName}}</td>
                    <td class="text-center">{{ticket.price}}</td>
                </tr>
                </tbody>

            </table>
            <div ng-show="(ticketList.length > 0)">
                <ul class="pager ng-cloak">
                    <li ng-class="prevPageDisabled()"><a ng-click="firstPage()" href=""></a></li>
                    <li ng-class="prevPageDisabled()"><a ng-click="prevPage()" href=""></a></li>
                    <li ng-repeat="n in range()"
                        ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                        <a href="#">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()"><a ng-click="nextPage()" href=""></a></li>
                    <li ng-class="nextPageDisabled()"><a ng-click="lastPage(ticketList.length)" href=""></a></li>
                </ul>
            </div>
        </div>
            <h1></h1>


        <div class="row">
            <h1></h1>
            <h1></h1>
            <h1></h1>
            <button class="btn btn-success" ng-click="save()" >Confirmare date</button>
        </div>

    </tab>
    <!--<tab heading="Registru bilete" ng-click="nextStep('registru')">
        <h1></h1>

        <h1></h1>
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >
                <label  class="col-xs-5 col-sm-5 col-md-5 col-lg-5" for="prestatorR">Denumire prestator</label>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <select class="form-control"  id="prestatorR" ng-model="obj.prestatorR"
                            ng-options="item as item.nameRo for item in prestatori">
                    </select>
                </div>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4" for="raionR">Raionul</label>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <select class="form-control" id="raionR" ng-model="obj.raionR"
                            ng-options="item as item.nameRo for item in raions ">
                    </select>
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"  >
                <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5" for="startDate">din data de </label>
                <div ng-controller="Datepicker" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="input-group" ng-disabled="!(obj.prestatorR)">
                        <input type="text"  id="startDateR" class="form-control" datepicker-popup="{{format}}" ng-change="selectApplications(2)"
                               ng-model="obj.dataSR" is-open="opened" min-date="minDate" max-date="minDate" show-button-bar="false" datepicker-options="dateOptions" timestamp disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="!(obj.prestatorR)" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5"  >
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4" for="endDate">pina in data de </label>
                <div ng-controller="Datepicker" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="input-group" ng-disabled="!(obj.prestatorR)">
                        <input type="text" id="endDateR"  class="form-control" datepicker-popup="{{format}}" ng-change="selectApplications(2)"
                               ng-model="obj.dataER" is-open="opened" min-date="minDate" max-date="minDate" show-button-bar="false" datepicker-options="dateOptions" timestamp disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-disabled="!(obj.prestatorR)" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
        </div>
        <h1></h1>
        <h1></h1>

        <div class="row">
            <h1></h1>
            <p ng-style={color:'red'}>Registrul foilor de tratament acordate :</p>
        </div>

        <div class="row">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center" data-sortable="true" >Nr.</th>
                    <th class="text-center">Nr. foii</th>
                    <th class="text-center">Durata (zile)</th>
                    <th class="text-center">Specificul</th>
                    <th class="text-center">Raion</th>
                    <th class="text-center">IDNP beneficiar</th>
                    <th class="text-center">Nume</th>
                    <th class="text-center">Prenume</th>
                    <th class="text-center">Denumire prestator</th>
                    <th class="text-center">Costul foii</th>
                </tr>
                <tr ng-repeat="application in applications">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">T-{{application.ticket.id}}</td>
                    <td class="text-center">{{(application.ticket.dateEnd - application.ticket.dateStart) | date:'dd'}}</td>
                    <td class="text-center">{{application.specificatii.nameRo}}</td>
                    <td class="text-center">{{application.member.raion.nameRo}}</td>
                    <td class="text-center">{{application.member.idnp}}</td>
                    <td class="text-center">{{application.member.firstName}}</td>
                    <td class="text-center">{{application.member.lastName}}</td>
                    <td class="text-center">{{getNamebyId(application.specificatii.code,prestatori)}}</td>
                    <td class="text-center">{{application.ticket.price}} lei</td>
                </tr>
            </table>
            <div ng-show="(ticketList.length > 0)">
                <ul class="pager ng-cloak">
                    <li ng-class="prevPageDisabled()"><a ng-click="firstPage()" href="">First Page</a></li>
                    <li ng-class="prevPageDisabled()"><a ng-click="prevPage()" href="">Previous</a></li>
                    &lt;!&ndash;<li ng-repeat="n in range()"
                        ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                        <a href="#">{{n+1}}</a>
                    </li>&ndash;&gt;
                    <li ng-class="nextPageDisabled()"><a ng-click="nextPage()" href="">Next</a></li>
                    <li ng-class="nextPageDisabled()"><a ng-click="lastPage(ticketList.length)" href="">Last</a></li>
                </ul>
            </div>
            <h1></h1>
        </div>

       &lt;!&ndash; <div class="row">
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button class="btn btn-success btn-block" ng-click="close()">Inchiderea</button>
            </div>
        </div>&ndash;&gt;
    </tab>-->
</tabset>