<div>

    <h1></h1>
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="active">Repartizarea biletelor (DASS)</li>
    </ol>
<tabset>
    <tab heading="Bilete alocate"  > <!--ng-click="nextStep('allocate')"-->
        <h1></h1>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-style={padding:0} >
                <label ng-style={padding:0} class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >Raionul : </label>
                <!--<label>{{getNameByRaion(obj.raion,raions)}}</label>-->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                    <select class="form-control"  id="raion" ng-model="obj.raion"
                            ng-options="item as item.nameRo for item in raions " ng-change="selectorTickets()">
                    </select>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" >Anul</label>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 " ng-controller="Datepicker">
                    <p class="input-group">
                        <!--ng-change="listTicketsByRaionId(0)"-->
                        <input type="text" class="form-control" id="year"   datepicker-popup="{{YearFormat}}"
                               ng-model="obj.year" is-open="opened" show-button-bar="false"
                               datepicker-options="{minMode: 'year'}" datepicker-mode="'year'" ng-change="selectorTickets()"
                               timestamp disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" >Trimestru</label>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 ">
                    <p class="input-group">
                        <select ng-model="obj.trimestr" class="form-control"
                            ng-options="item as item.name for item in obj.trimestrList" ng-change="selectorTickets()"
                                ></select>
                    </p>
                </div>
            </div>
        </div>

        <div class="row"><h1></h1>
            <p ng-style={color:'red'}>Bilete de tratament alocate :</p>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center">Prestatorul</th>
                    <th class="text-center">Luna I</th>
                    <th class="text-center">Luna II</th>
                    <th class="text-center">Luna III</th>
                    <th class="text-center">Durata</th>
                    <th class="text-center">Total bilete disponibile</th>
                    <th class="text-center">Bilete alocate</th>
                </tr>

                <tr ng-repeat="item in repartisationList">
                    <td class="text-left">{{item[0].nameRo}}</td>
                    <td class="text-center">{{item[3]}}</td>
                    <td class="text-center">{{item[4]}}</td>
                    <td class="text-center">{{item[5]}}</td>
                    <td class="text-center">{{item[2]+1}}</td>
                    <td class="text-center">{{item[6]}}</td>
                    <td class="text-center">{{item[1]}}</td>
                </tr>
            </table>
            <h1></h1>
        </div>
    </tab>
    <tab heading="Lista solicitari" ng-click="nextStep('solicitari')">
        <h1></h1>
      <!--  <div class="row">
            <div class="col-xs-4 col-sm-5 col-md-4 col-lg-4" ng-style={padding:0} >
                <label ng-style={padding:0} class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" >Raionul</label>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                    <label>{{getNameByRaion(obj.raion,raions)}}</label>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-style={padding:0} >
                <label ng-style={padding:0} class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >Raionul : </label>
                <!--<label>{{getNameByRaion(obj.raion,raions)}}</label>-->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                    <select class="form-control"   ng-model="obj.raion"
                            ng-options="item as item.nameRo for item in raions " ng-change="selectorTickets()">
                    </select>
                </div>
            </div>
        </div>

        <div class="row"><h1></h1>
            <p ng-style={color:'red'}>Bilete eliberate :</p>
        </div>

        <div class="row">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center">Nr.</th>
                    <th class="text-center">Raionul</th>
                    <th class="text-center">Localitatea</th>
                    <th class="text-center">Nr. cererii</th>
                    <th class="text-center">Data inregistrarii cererii</th>
                    <th class="text-center">IDNP beneficiar</th>
                    <th class="text-center">Nume</th>
                    <th class="text-center">Prenume</th>
                    <th class="text-center">Categorie</th>
                    <th class="text-center">Specific solicitat</th>
                    <th class="text-center">Insotitor</th>
                    <th class="text-center">Starea cerere</th>
                    <th class="text-center">Aciune</th>
                </tr>
                <tr ng-repeat="app in applicationsUrgent" ng-style="{color:'red'}">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{obj.raion.nameRo}}</td>
                    <td class="text-center">{{app.member.localitate.nameRo}}</td>
                    <td class="text-center"><a target="_blank" href="#/cerere/{{app.id}}">A-{{app.id}}</a></td>
                    <td class="text-center">{{app.date | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{app.member.idnp}}</td>
                    <td class="text-center">{{app.member.firstName}}</td>
                    <td class="text-center">{{app.member.lastName}}</td>
                    <td class="text-center">Categorie</td>
                    <td class="text-center">{{app.specificatii.nameRo}}</td>
                    <td class="text-center">{{app.member.guardian == null ? 'Nu' : 'Da'}}</td>
                    <td class="text-center">{{showAppStatus(app)}}</td>
                    <td class="text-center">
                        <button >
                            <span class="glyphicon glyphicon-share-alt" ng-click="open(application)"></span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="app in applicationsOpen">
                    <td class="text-center">{{$index+applicationsUrgent.length+1}}</td>
                    <td class="text-center">{{obj.raion.nameRo}}</td>
                    <td class="text-center">{{app.member.localitate.nameRo}}</td>
                    <td class="text-center"><a target="_blank" href="#/cerere/{{app.id}}">A-{{app.id}}</a></td>
                    <td class="text-center">{{app.date | date:'dd-MM-yyyy'}}</td>
                    <td class="text-center">{{app.member.idnp}}</td>
                    <td class="text-center">{{app.member.firstName}}</td>
                    <td class="text-center">{{app.member.lastName}}</td>
                    <td class="text-center">Categorie</td>
                    <td class="text-center">{{app.specificatii.nameRo}}</td>
                    <td class="text-center">{{app.member.guardian == null ? 'Nu' : 'Da'}}</td>
                    <!--<td class="text-center">{{app.status == 'OPEN' && app.ticket == null ? 'In Asteptare' : (app.ticket.status == 'CONFIRMED' ? 'Bilet eliberat':'Bilet alocat' )}}</td>-->
                    <td class="text-center">{{showAppStatus(app)}}</td>
                    <td class="text-center">
                        <button >
                            <span class="glyphicon glyphicon-share-alt" ng-click="open(application)"></span>
                        </button>
                    </td>
                </tr>
            </table>
            <h1></h1>
            <div ng-show="(applications.length > 0)">
                <ul class="pager ng-cloak">
                    <li ng-class="prevPageDisabled()"><a ng-click="firstPage()" href=""></a></li>
                    <li ng-class="prevPageDisabled()"><a ng-click="prevPage()" href=""></a></li>
                    <li ng-repeat="n in range()"
                        ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                        <a href="#">{{n+1}}</a>
                    </li>
                    <li ng-class="nextPageDisabled()"><a ng-click="nextPage()" href=""></a></li>
                    <li ng-class="nextPageDisabled()"><a ng-click="lastPage(applications.length)" href=""></a></li>
                </ul>
            </div>
        </div>

       <!-- <div class="row">
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-style={padding:0}>
                <button class="btn btn-success btn-block" ng-click="saveRetur()">Confirmare retur</button>
            </div>
            <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button class="btn btn-default btn-block" ng-click="anulare()">Anulare actiune</button>
            </div>
        </div>-->
    </tab>
</tabset>
</div>