<div>
    <h1></h1>
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="active">Vizualizarea cererilor</li>
    </ol>
    <h1></h1>
 <tabset>
     <tab heading="Solicitantul">
        <h4 > Date despre solicitant : </h4>
        <h1></h1>

        <!--Nume Prenume Patronimic-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="familyName">Nume</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                    <input type="text" class="form-control"  id="familyName" ng-disabled="true"  ng-model="application.member.firstName"
                           require ng-pattern="/([A-Z][a-z]*)/">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="lastName">Prenume</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                    <input type="text" class="form-control"  id="lastName"  ng-disabled="true" ng-model="application.member.lastName">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="patronimic">Patronimic</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                    <input type="text" class="form-control"  id="patronimic"  ng-disabled="true" ng-model="application.member.patronimic">
                </div>
            </div>
        </div>
        <!--Indp seria acte-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="idnp">IDNP</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                    <input type="text" class="form-control"   id="idnp" ng-model="application.member.idnp"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="seria">Seria</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                    <input type="text" class="form-control"   id="seria" ng-model="application.member.seria"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="numPensLicence">Nr. Pensionar</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control"   id="numPensLicence" ng-model="application.member.numPensLicence"  ng-disabled="true">
                </div>
            </div>
        </div>

        <!--Raion-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="raion">Raion</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                    <input type="text" class="form-control"   id="raion" ng-model="application.member.raion.nameRo"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="localitate">Localitate</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                    <input type="text" class="form-control"   id="localitate" ng-model="application.member.localitate.nameRo"  ng-disabled="true">
                </div>
            </div>
        </div>

        <!--Strada appart telefon-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="street">Strada</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"  ng-style="{padding:2}" >
                    <input type="text" class="form-control"   id="street"
                           ng-model="application.member.street"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
                    <label class="notbold">Nr</label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    <input type="text" class="form-control"   id="nr" ng-model="application.member.house"  ng-disabled="true">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label class="notbold">Bloc</label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input type="text" class="form-control"   id="bloc"  ng-model="application.member.block"  ng-disabled="true">
                </div>
            </div>

            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label class="notbold">Ap</label>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <input type="text" class="form-control" id="flat" ng-model="application.member.flat"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="phone">Telefon</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                    <input type="text" class="form-control"   id="phone" ng-model="application.member.phone"  ng-disabled="true">
                </div>
            </div>
        </div>

        <!--Specificatii-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label class="notbold" for="specificatii">Specificatii</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                    <input type="text" class="form-control"   id="specificatii" ng-model="application.specificatii.nameRo"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label class="notbold" for="prestator">Prestator</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"  >
                    <input type="text" class="form-control"   id="prestator" ng-model="obj.prestator[0].nameRo"  ng-disabled="true">
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label class="notbold" for="dateC">Data crearii</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"  >
                    <input type="date" class="form-control"   id="dateC" ng-model="obj.date"  ng-disabled="true">
                </div>
            </div>
        </div>

        <!--Angjat Urgent-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr/>
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label ng-style="{paddingRight:-10}">Angajat in cimpul muncii</label>
                </div>
                <label class="notbold">
                    <input type="radio" data-ng-value="true" ng-model="application.member.hasJob"  ng-disabled="true"> da
                </label>
                <label class="notbold">
                    <input type="radio" data-ng-value="false" ng-model="application.member.hasJob"  ng-disabled="true"> nu
                </label>
            </div>

            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label ng-style="{paddingRight:-10}">Caz de urgența</label>
                </div>
                <label class="notbold">
                    <input type="radio" data-ng-value="true" ng-model="application.is_urgent"  ng-style="{padding:10}"  ng-disabled="true"> da
                </label>
                <label class="notbold">
                    <input type="radio" data-ng-value="false" ng-model="application.is_urgent"  ng-style="{padding:10}"  ng-disabled="true"> nu
                </label>
            </div>
        </div>

        <!--Reduceri-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr/>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label><b>Reducere solicitată</b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div>
                        <label>
                            <input type="radio" data-ng-value="30" ng-model="application.descounts"  ng-disabled="true"> reducere 30%
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div>
                        <label>
                            <input type="radio" data-ng-value="70" ng-model="application.descounts"  ng-disabled="true"> reducere 70%
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <!--Catigorie-->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr/>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label><b>Categorie</b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    <label class="notbold" ng-disabled="true">
                        <input type="checkbox" ng-model="application.member.persnInAge" ng-disabled="true" > Persoana in virsta
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="notbold">
                        <input type="checkbox" value=""  ng-model="application.member.limitedAge"  ng-disabled="true"> In baza limetei de virsta
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-5 col-lg-7">
                    <label class="notbold">
                        <input type="checkbox" value=""  ng-model="application.member.benifAlocCity"  ng-disabled="true"> beneficiar de alocatie sociala de stat
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class=" form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label class="notbold">
                        <input type="checkbox" value="" ng-model="application.member.benifPension"  ng-disabled="true"> beneficiaza de pensie
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label><b></b></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="notbold">
                        <input type="checkbox" value="" ng-model="application.member.persnWDisabil" ng-disabled="true"> Persoana cu disabilitati
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="notbold">
                        <input type="radio" value="sever" ng-model="application.member.disabilityCategory"  ng-disabled="true"> grad sever
                    </label>
                </div>
            </div>
        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="notbold">
                        <input type="checkbox" value="true"  ng-model="application.member.needsGuardian"  ng-disabled="true"> necesita insotitor
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="notbold">
                        <input type="radio" value="accentuat" ng-model="application.member.disabilityCategory"  ng-disabled="true"> grad accentuat
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="notbold">
                        <input type="radio" value="mediu" ng-model="application.member.disabilityCategory"  ng-disabled="true"> grad mediu
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label><b></b></label>
                </div>
                <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <label class="notbold">
                        <input type="checkbox"  ng-model="application.member.persnRepresat" ng-disabled="true"> Persoane represate si reabilitate ulterior
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="notbold">
                        <input type="checkbox" value=""  ng-disabled="true"> reducere 30%
                    </label>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="form-group  col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <label><b></b></label>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label class="notbold">
                        <input type="checkbox" value=""  ng-disabled="true"> valorificat in 3 ani
                    </label>
                </div>
            </div>
        </div>


        <!--------------Datele despre insotitor:-------------->
        <div ng-show="application.member.needsGuardian">
            <h4> Date despre insotitor</h4>
            <h1></h1>

            <!--<add-member type="insotitor"></add-member>-->
            <!--Nume Prenume Patronimic-->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="familyNameG">Nume</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                        <input type="text" class="form-control"  id="familyNameG" ng-model="application.member.guardian.firstName" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="lastNameG">Prenume</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 ">
                        <input type="text" class="form-control"  id="lastNameG"  ng-model="application.member.guardian.lastName"  ng-disabled="true">
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="patronimicG">Patronimic</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                        <input type="text" class="form-control"  id="patronimicG"  ng-model="application.member.guardian.patronimic"  ng-disabled="true">
                    </div>
                </div>
            </div>
            <!--Indp seria acte-->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                    <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="idnp">IDNP</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" ng-model-onblur >
                        <input type="text" class="form-control"   id="idnpG" ng-change="checkIdnp('guardian')"
                               ng-model="application.member.guardian.idnp"    ng-disabled="true" >
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                    <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="seria">Seria</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " >
                        <input type="text" class="form-control"   id="seriaG" ng-model="application.member.guardian.seria"  ng-disabled="true">
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                    <label  class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="numPensLicenceG">Nr. Pensionar</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <input type="text" class="form-control"   id="numPensLicenceG"
                               ng-model="application.member.guardian.numPensLicence"    ng-disabled="true">
                    </div>
                </div>
            </div>

            <!--Raion-->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="raionG">Raion</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                        <input type="text" class="form-control"   id="raionG" ng-model="application.member.guardian.raion.nameRo"  ng-disabled="true">
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="localitateG">Localitate</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                        <input type="text" class="form-control"   id="localitateG" ng-model="application.member.guardian.localitate.nameRo"  ng-disabled="true">
                    </div>
                </div>
            </div>

            <!--Strada appart telefon-->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="streetG">Strada</label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"  ng-style="{padding:2}" >
                        <input type="text" class="form-control"   id="streetG"
                               ng-model="application.member.guardian.street" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >
                        <label class="notbold">Nr</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                        <input type="text" class="form-control"   id="nrG" ng-model="application.member.guardian.house"  ng-disabled="true">
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="notbold">Bloc</label>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <input type="text" class="form-control"   id="blockG"  ng-model="application.member.guardian.block"  ng-disabled="true">
                    </div>
                </div>

                <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <label class="notbold">Ap</label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="flatG" ng-model="application.member.guardian.flat"  ng-disabled="true">
                    </div>
                </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 notbold" for="phone">Telefon</label>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                        <input type="text" class="form-control"   id="phoneG" ng-model="application.member.guardian.phone"  ng-disabled="true">
                    </div>
                </div>
            </div>


            <!--Categorie-->
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr/>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label><b>Categorie</b></label>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                        <label class="notbold">
                            <input type="checkbox"  ng-model="application.member.guardian.guardianBenifAlocCity" ng-disabled="true"> primeste  alocatii sociale de stat
                        </label>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label><b></b></label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label class="notbold">
                            <input type="checkbox"  ng-model="application.member.guardian.guardianBenifPension"  ng-disabled="true"> beneficiaza de pensie
                        </label>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label><b></b></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <label class="notbold">
                            <input type="checkbox" value="" ng-model="application.member.guardian.guardianPersWdisability"  ng-disabled="true"> persoana cu disabilitati
                        </label>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <label><b></b></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <label class="notbold">
                            <input type="radio" value="accentuat" ng-model="application.member.guardian.disabilityCategory"  ng-disabled="true"> grad accentuat
                        </label>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <label><b></b></label>
                    </div>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                        <label class="notbold">
                            <input type="radio" value="mediu" ng-model="application.member.guardian.disabilityCategory"  ng-disabled="true"> grad mediu
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1></h1>
            <h1></h1>
        </div>
    </tab>
    <tab heading="Anexe">
        <form role="form" >
            <h1></h1>
            <h4> Acte obligatorii :</h4>
            <h1></h1>

            <div class="row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="cerere" ng-model="application.cerere"/>
                        </span>
                    <label>Cererea</label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="medicalCert" ng-model="application.medicalCert"/>
                        </span>
                    <label>Certificatul medical al 070E</label>
                </div>
            </div>
            <div class="row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="copiaAct" ng-model="application.copyOfIdentityDoc"/>
                        </span>
                    <label>Copia Actului de identitate</label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="recomandation" ng-model="application.recomandation"/>
                        </span>
                    <label>Recomandarea centrului de reabilitare/recuperare</label>
                </div>
            </div>
            <div class="row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="conclusionConsilium" ng-model="application.conclusionConsilium"/>
                        </span>
                    <label>Concluzia Consiliului de expertiza medicala si vitalitatii</label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="workCarnetCopy" ng-model="application.workCarnetCopy"/>
                        </span>
                    <label>Copii din paginile principale din carnetul de munca</label>
                </div>
            </div>
            <div class="row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="pensionarPermis" ng-model="application.pensionarPermis"/>
                        </span>
                    <label>Legitimatia de pensionar</label>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                        <span>
                             <input type="checkbox" id="copyPasaport" ng-model="application.copyPasaport"/>
                        </span>
                    <label>Copia pasaportului RM</label>
                </div>
            </div>
            <div class="row  col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" ng-show="app.needsGuardian">
                        <span>
                             <input type="checkbox" id="copuOfIdentityDocGuardian" ng-model="application.copuOfIdentityDocGuardian"/>
                        </span>
                    <label>Copia Actului de identitate insotitor</label>
                </div>
                <h1></h1>
            </div>

            <!--<attachments></attachments>-->
            <!--<attachments ng-model="object.files" path="uploadPath"></attachments>-->

            <div ng-file-drop class="form-group" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
                <table class="table table-bordered table-striped" ng-file-over>
                    <thead>
                    <tr>
                        <th>Denumire fișier</th>
                        <th>Dimensiune</th>
                        <th>Progres</th>
                        <th>Acțiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>{{item.file.name}}</td>
                        <td>{{(item.file.size/1024/1024)|number:2}} MB</td>
                        <th>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </th>
                        <td>
                            <a href class="btn btn-success btn-xs force-enabled" ng-click="downloadFile(item)" ng-show="item.isUploaded">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                            <a href class="btn btn-danger btn-xs force-enabled" ng-click="onCancelItem(item)" ng-hide="item.isUploaded">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <label class="col-sm-3 control-label">Atașați fișierele</label>
                    <div class="col-sm-3 ">
                        <input ng-file-select type="file"   nv-file-select="" uploader="uploader" multiple/>
                    </div>
                </div>
            </div>

            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr/>
                <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="!checkNeedData()">Salvare</button>
                <h1></h1>
            </div>


            <h1></h1>
        </form>
    </tab>
    <tab heading="Biletul" ng-show="true">
        <h1></h1>
        <div>
            <div class="row">
                <h1></h1>
                <h4>Bilet pentru solicitant</h4>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >
                    <label ng-style={padding:0} class="col-xs-4 col-sm-4 col-md-4 col-lg-4  notbold" >Denumire prestator </label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
                        <input type="text" class="form-control"   placeholder="">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  ng-style="{padding:0}">
                    <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 notbold">Perioada de la </label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-controller="Datepicker">
                        <p class="input-group">
                            <input type="text" class="form-control"  datepicker-popup="{{YearFormat}}" ng-disabled="!obj.raion" ng-change="listTicketsByRaionId(0)"  ng-model="obj.year" is-open="opened" show-button-bar="false" datepicker-options="dateOptions" timestamp disabled/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 notbold" ng-style={padding:0}>pina la </label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-controller="Datepicker" ng-style={padding:0}>
                        <p class="input-group">
                            <input type="text" class="form-control"  ng-style={padding:0}  datepicker-popup="{{YearFormat}}" ng-disabled="!obj.raion" ng-change="listTicketsByRaionId(0)"  ng-model="obj.year" is-open="opened" show-button-bar="false" datepicker-options="dateOptions" timestamp disabled/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >
                    <label ng-style={padding:0} class="col-xs-4 col-sm-4 col-md-4 col-lg-4  notbold" >Costul biletului</label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
                        <input type="text" class="form-control"   placeholder="">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-style={padding:0} >
                    <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 notbold" >Costul cu reducere</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                        <input type="text" class="form-control"   placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="app.needsGuardian">
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-style={padding:0}>
                <hr/>
                <h1></h1>
                <h4>Bilet pentru insotitor</h4>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >
                    <label ng-style={padding:0} class="col-xs-4 col-sm-4 col-md-4 col-lg-4  notbold" >Denumire prestator </label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
                        <input type="text" class="form-control"   placeholder="">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  ng-style="{padding:0}">
                    <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 notbold">Perioada de la </label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-controller="Datepicker">
                        <p class="input-group">
                            <input type="text" class="form-control"  datepicker-popup="{{YearFormat}}" ng-disabled="!obj.raion" ng-change="listTicketsByRaionId(0)"  ng-model="obj.year" is-open="opened" show-button-bar="false" datepicker-options="dateOptions" timestamp disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                        </p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 notbold" ng-style={padding:0}>pina la </label>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-controller="Datepicker" ng-style={padding:0}>
                        <p class="input-group">
                            <input type="text" class="form-control"  ng-style={padding:0}  datepicker-popup="{{YearFormat}}" ng-disabled="!obj.raion" ng-change="listTicketsByRaionId(0)"  ng-model="obj.year" is-open="opened" show-button-bar="false" datepicker-options="dateOptions" timestamp disabled/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" >
                    <label ng-style={padding:0} class="col-xs-4 col-sm-4 col-md-4 col-lg-4  notbold" >Costul biletului</label>
                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" >
                        <input type="text" class="form-control"   placeholder="">
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-style={padding:0} >
                    <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 notbold" >Costul cu reducere</label>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
                        <input type="text" class="form-control"   placeholder="">
                    </div>
                </div>
            </div>

        </div>
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr/>
            <!--<span class="glyphicon glyphicon-save">-->
            <button class="btn btn-success" >Confirmare bilet</button>
            <button class="btn btn-danger"  >Refuz bilet</button>
            <button class="btn btn-primary" ng-click="open(application)">Returnare bilet</button>
            <button class="btn btn-warning" >Inchiere bilet</button>
            <h1></h1>
        </div>

    </tab>
    </tabset>
</div>