<div>
    <div class="modal-header">
        <h3 class="modal-title"><span class="text-center">Transfer</span></h3>
    </div>
    <div class="modal-body">
        <!--Raion-->
        <div>
            <div class="row col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <label  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" for="raion">Raion</label>
                <select class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="raion" ng-model="raion" ng-options="item as item.nameRo for item in raions"></select>
                <label  class="col-xs-2 col-sm-2 col-md-2 col-lg-2" for="localitate">Localitate</label>
                <select class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="localitate" ng-model="localitate" ng-options="item as item.nameRo for item in localitaties"></select>
            </div>
            <h1></h1>
        </div>

        <!--Strada appart telefon-->
        <div class="row col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1" for="street">Strada</label>
                <input class="col-xs-2 col-sm-2 col-md-2 col-lg-2" type="text" style="width:160px"   id="street" ng-model="application.member.street" placeholder="Strada">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >Nr</label>
                <input class="col-xs-1 col-sm-1 col-md-1 col-lg-1" type="text"    id="nr" placeholder="">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >Bloc</label>
                <input class="col-xs-1 col-sm-1 col-md-1 col-lg-1" type="text"    id="nrBloc"   placeholder="">
                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1" >Ap</label>
                <input class="col-xs-1 col-sm-1 col-md-1 col-lg-1" type="text"  id="appartament" placeholder="">
        </div>
        <div class="row col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2" for="phone">Telefon</label>
            <input class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  type="text" style="width:160px"  id="phone" ng-model="application.member.phone" placeholder="">
        </div>
        <div>
            <label >Incarca cerere de transfer</label>
             <span class="btn btn-default btn-file">
                 <input type="file" class="btn btn-default btn-file" class="modal-form"   placeholder="">Incarca
             </span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="okTransfer(raion, localite)">Salvare</button>
        <button class="btn btn-warning" ng-click="cancel()">Anulare</button>
    </div>
</div>
